@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?752wdz');
  src:  url('../fonts/icomoon.eot?752wdz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?752wdz') format('truetype'),
    url('../fonts/icomoon.woff?752wdz') format('woff'),
    url('../fonts/icomoon.svg?752wdz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-printer:before {
  content: "\e954";
}
.icon-binoculars:before {
  content: "\e985";
}
.icon-search:before {
  content: "\e986";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-eye-plus:before {
  content: "\e9cf";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-filter:before {
  content: "\ea5b";
}



@font-face {
    font-family: "SourceSansPro-Black";
    src: url(../fonts/SourceSansPro-Black.otf) format("opentype");
}
@font-face {
    font-family: "SourceSansPro-BlackItalic";
    src: url(../fonts/SourceSansPro-BlackItalic.otf) format("opentype");
}
@font-face {
    font-family: "SourceSansPro-Bold";
    src: url(../fonts/SourceSansPro-Bold.otf) format("opentype");
}
@font-face {
    font-family: "SourceSansPro-BoldItalic";
    src: url(../fonts/SourceSansPro-BoldItalic.otf) format("opentype");
}
@font-face {
    font-family: "SourceSansPro-ExtraLight";
    src: url(../fonts/SourceSansPro-ExtraLight.otf) format("opentype");
}
@font-face {
    font-family: "SourceSansPro-ExtraLightItalic";
    src: url(../fonts/SourceSansPro-ExtraLightItalic.otf) format("opentype");
}
@font-face {
    font-family: "SourceSansPro-Italic";
    src: url(../fonts/SourceSansPro-Italic.otf) format("opentype");
}
@font-face {
    font-family: "SourceSansPro-Light";
    src: url(../fonts/SourceSansPro-Light.otf) format("opentype");
}
@font-face {
    font-family: "SourceSansPro-LightItalic";
    src: url(../fonts/SourceSansPro-LightItalic.otf) format("opentype");
}
@font-face {
    font-family: "SourceSansPro-Regular";
    src: url(../fonts/SourceSansPro-Regular.otf) format("opentype");
}
@font-face {
    font-family: "SourceSansPro-Semibold";
    src: url(../fonts/SourceSansPro-Semibold.otf) format("opentype");
}
@font-face {
    font-family: "SourceSansPro-SemiboldItalic";
    src: url(../fonts/SourceSansPro-SemiboldItalic.otf) format("opentype");
}
