body{
  padding:0px !important;
}

nav{
  display: none !important;
}

nav ul{
  display: none !important;
}

#header{
  display: none !important;
}

section{
  margin-top:0px !important;
}

#section{
  width: 100% !important;
  margin-top:0px;
}

.sectionContainer{
  padding: 0px !important;
  margin-left: 0px !important;
  /* width: 100%; */
  display: block !important;
}

nav ul li a{
  display: none !important;
}

table{
    text-align: center;
  }

table td, table th{
  border: 1px solid #000 !important;
}

table th{
  background-color: black !important;
  color:red !important;
}

#print{
  display: block !important;
}

#btnImpresora{
  display: none !important;
  visibility: hidden !important;
}

.hidden-print{
  display: none !important;
}

#sugerirMateriales{
  display: none !important;
}
